<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <div class="row text-center">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h3 class="display-5">Where we are?</h3>
            <hr class="my-4">
            <p class="lead">We are currently working from greece</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h3 class="display-5">Contact Us</h3>
            <hr class="my-4">
            <p class="lead">Email:@@@@@@@</p>
        </div>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->