{% extends 'base-template.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
{{user.full_name}}
{% endblock %}

{% block content %}
<div class="container-fluid mt-5 ">
    <div class="row text-center">
        <div class="col-3 section-1">
            {% if profile.profile_image %}
            <img src="{{ profile.profile_image.url }}" width="100px;" height="100px;" class="rounded">
            <br>
            {% endif %}
            <br />
            <h5>Followers:{{user.followers.count}}</h5>
            <h5>Following:{{user.following.count}}</h5>
            <br />
            <a href="#" class="btn btn-outline-secondary">About</a><br>
            {% if not request.user == user %}
            {% if request.user in user.followers.all %}
            <a href="{% url 'profiles:user-follow'  slug=user.slug %}" class="btn btn-outline-primary my-3">UnFollow</a>
            {% else %}
            <a href="{% url 'profiles:user-follow'  slug=user.slug %}" class="btn btn-outline-primary my-3">Follow</a>
            {% endif  %}
            {% endif %}
        </div>
        <div class="col-7 section-2 my-5">
            {% for image in user.image_set.all %}
            <img src="{{image.image.url}}" width="200px;" height="200px;" style="padding:5px; border-radius:50px;">
            {% endfor %}
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-sm-12 text-center">
            <h4>Destinations Posted by {{user.full_name|capfirst}}</h4>
            <hr>
            <ul class="list-unstyled">
                {% for destination in user.author.all %}
                <li class="media my-5">
                    <a href="{% url 'travel:destination-detail' unique_id=destination.unique_id %}"> <img
                            src="{{destination.image.url}}" class="mr-3" alt="photo of {{destination.country}}"
                            width="200px" height="200px"></a>
                    <div class="media-body">
                        <h4 class="mt-0 mb-1">Trip to {{destination.country}}</h4>

                        <h6>posted on {{destination.timestamp}}</h6>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                        purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                        vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}