{% extends 'base-template.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
{{user.full_name}}
{% endblock %}

{% block content %}
<div class="container-fluid mt-5 ">
    <div class="row text-center">
        <div class="col-3 section-1">
            {% if profile.profile_image %}
            <img src="{{ profile.profile_image.url }}" width="100px;" height="100px;" class="rounded">
            <br>
            {% endif %}
            <br />
            <h5>Followers:{{user.followers.count}}</h5>
            <h5>Following:{{user.following.count}}</h5>
            <br />
            <form action="{% url 'profiles:photo-upload' slug=profile.user.slug %}" method="POST"
                enctype="multipart/form-data">
                {% csrf_token %}
                {{photo_form}}
                <button type="submit" class="btn btn-success">Upload photo</button>
            </form>
            {% if not request.user == user %}
            <form method="post" action="{% url 'profiles:user-follow'  slug=user.slug %}">
                {% csrf_token %}
                {% if request.user in user.followers.all %}
                <button class="btn btn-outline-primary" type="submit">UnFollow</button>
                {% else %}
                <button class="btn btn-outline-primary" type="submit">Follow</button>
                {% endif %}
            </form>
            {% endif %}
        </div>
        <div class="col-7 section-2 my-5">
            <h3>{{user.first_name}} Images</h3>
            <hr>
            {% if user.image_set %}
            {% for image in user.image_set.all %}
            <img src="{{image.image.url}}" width="150px;" height="150px;" style="padding:5px; border-radius:50px;">
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-sm-12 text-center">
            <h4>Destinations Posted by {{user.full_name|capfirst}}</h4>
            <hr>
            <ul class="list-unstyled">
                {% for destination in user.author.all %}
                <li class="media my-5">
                    <a href="{% url 'travel:destination-detail' unique_id=destination.unique_id %}"> <img
                            src="{{destination.image.url}}" class="mr-3" alt="photo of {{destination.country}}"
                            width="200px" height="200px"></a>
                    <div class="media-body">
                        <h4 class="mt-0 mb-1">Trip to {{destination.country}}</h4>
                        <h6>posted on {{destination.timestamp}}</h6>
                        <p>{{destination.commentaries|truncatewords:11}}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}