{% extends 'base-template.html' %}

{% block title %}
Create Destination
{% endblock title%}
{% block content %}


<div class="container my-5">
    <div class="create-destination-container">
        <div class="row text-center">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <h3>Create Destination trip!</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
                <form class="form-group" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}