{% extends 'base-template.html' %}

{% block title %}
Travel to {{object.country|capfirst}}
{% endblock title%}



{% block content %}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4">{{object.country|capfirst}}</h1>

            <!-- Author -->
            <p class="lead">
                by
                <a
                    href="{% url 'profiles:user-profile' slug=object.author.slug %}">{{object.author.full_name|capfirst}}</a>
            </p>

            <hr>

            <!-- Date/Time -->
            <div class="row ">
                <div class="col-md-6">
                    <p>Posted on {{object.timestamp}}</p>
                    <p><strong>Starts at :{{object.start}}<br>Ends at: {{object.end}}</strong></p>
                </div>
                <div class="col-md-6 col-sm-4 mb-3">
                    {% if request.user != object.author %}
                    <form method="POST" action='{% url "travel:adventure-join"  unique_id=object.unique_id %}'>
                        {% csrf_token %}


                        {% if request.user in object.users.all %}
                        <button class="btn btn-outline-secondary btn-lg my-5 mx-auto">Cancel Registration</button>
                        {% else %}
                        <button class="btn btn-outline-secondary btn-lg my-5 mx-auto">Join to this adventure</button>
                        {% endif %}

                    </form>

                    {% else %}
                    <form method="POST" action='{% url "travel:destination-delete"  unique_id=object.unique_id %}'>
                        {% csrf_token %}
                        <button class="btn btn-outline-danger btn-lg my-5 mx-auto">Delete Destination</button>
                    </form>
                    {% endif %}
                </div>
            </div>


            <hr>


            <!-- Preview Image -->
            {% if object.image %}
            <img class="img-fluid rounded" src="{{object.image.url}}" alt="{{object.image}}" height=800px; width=500px;>
            {% endif %}
            <hr>

            <!-- Post Content -->
            <p class="lead">{{object.commentaries|linebreaks}}</p>

            <hr>

            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form action="{% url 'travel:destination-detail' unique_id=object.unique_id %}" method="POST">
                        {% csrf_token %}
                        {{form}}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

            <!-- Single Comment -->
            {% for comment in comments %}
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="{{comment.user.userprofile.profile_image.url}}"
                    alt="{{comment.user.userprofile.profile_image}}" height=50px; width=50px;>
                <div class="media-body">
                    <h5 class="mt-0">{{comment.user.full_name}}</h5>
                    {{comment.content}}
                </div>
            </div>
            {% endfor %}
            <div class="pagination">
                <ul class="pagination justify-content-end">
                    {% if comments.has_previous %}
                    <li class="page-item"><a href="?page=1" class="page-link">&laquo; first</a></li>
                    <li class="page-item"> <a href="?page={{ comments.previous_page_number }}"
                            class="page-link">previous</a></li>
                    {% endif %}
                    <li class="page-link disabled"> Page {{ comments.number }} of
                        {{ comments.paginator.num_pages }}.
                    </li>
                    {% if comments.has_next %}
                    <li class="page-item"><a href="?page={{ comments.next_page_number }}" class="page-link">next</a>
                    </li>
                    <li class="page-item"><a href="?page={{ comments.paginator.num_pages }}" class="page-link">last
                            &raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Popular Trips</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">Web Design</a>
                                </li>
                                <li>
                                    <a href="#">HTML</a>
                                </li>
                                <li>
                                    <a href="#">Freebies</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Users interested for this trip</h5>
                <div class="card-body">
                    {% if request.user.is_authenticated %}
                    {% for person in users %}
                    <a href="{% url 'profiles:user-profile' slug=person.slug %}" class=""><img class="rounded-circle"
                            src="{{person.userprofile.profile_image.url}}" alt="{{person.userprofile.profile_image}}"
                            height=40px; width=40px;><span class="ml-2"
                            style="display:inline">{{person.full_name|capfirst}}</span></a>
                    <hr />
                    {% endfor %}
                    {% else %}
                    <h4>You have to login to check who is interested for this trip</h4>
                    <a href='{% url "login" %}'>Go to login page</a>
                    {% endif %}
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

{% endblock content %}