{% extends 'base-template.html' %}

{% block title %}
Available destinations
{% endblock title%}
{% block content %}
<div class="container text-center my-5">
    <h4>Active Destinations</h4>
    <hr>
    <div class="row ml-4">
        {% for object in object_list %}
        <div class="col-lg-4 col-sm-12 col-md-6 my-3">
            <div class="card" style="width: 18rem;">
                {% if object.image %}
                <a href="{{object.get_absolute_url}}">
                    <img class="card-img-top" src="{{object.image.url}}" alt="Card image cap">
                </a>
                {% endif %}
                <div class="card-body">
                    <h5>Travel to <span style="color:red;">{{object.country|capfirst}}</span></h5>
                    <h6 class="card-text">Organiser: {{object.author.full_name|capfirst}}</h6>
                    <p class="card-text">Posted: {{object.timestamp|timesince}} ago</p>
                    <hr>
                    <p class="card-text">Starts at : {{object.start}}</p>
                    <p class="card-text">Ends at : {{object.end}}</p>
                    <a class="btn btn-outline-primary" href='{{object.get_absolute_url}}'>Learn more</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}