{% extends 'base-template.html' %}
{% load static %}

{% block title %}
Register An Account
{% endblock title%}


{% block content %}
<h1 class="text-center my-4">Register An Account</h1>
<div class="container text-center">
    <div class="col-lg-6 col-md-6 mx-auto col-sm-12">
        <hr>
        <form id="registration" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-outline-success">Submit</button>
            <a href="{% url 'login' %}" class="btn btn-outline-primary">Sign in</a>
        </form>
    </div>
</div>
{% endblock content %}